USE [master]
GO
/****** Object:  Database [TourismManagerDb]    Script Date: 9/12/2025 5:11:21 PM ******/
CREATE DATABASE [TourismManagerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourismManagerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TourismManagerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourismManagerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TourismManagerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourismManagerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourismManagerDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TravelDate] [datetime2](7) NOT NULL,
	[Persons] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CancelledAt] [datetime2](7) NULL,
	[IsCancelled] [bit] NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inquiries]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Resolved] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Inquiries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Days] [int] NOT NULL,
	[Nights] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[SeatsAvailable] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ImageFileName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](max) NOT NULL,
	[TransactionRef] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refunds]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refunds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[RefundedAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Refunds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/12/2025 5:11:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908065004_InitialCreate', N'8.0.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908070947_secondCreate', N'8.0.19')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908074236_3', N'8.0.19')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [PackageId], [UserId], [TravelDate], [Persons], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [CancelledAt], [IsCancelled]) VALUES (11, 4, 1, CAST(N'2025-09-17T00:00:00.0000000' AS DateTime2), 1, CAST(10000.00 AS Decimal(18, 2)), N'Confirmed', CAST(N'2025-09-10T06:03:04.4067447' AS DateTime2), NULL, 0, NULL, 0)
INSERT [dbo].[Bookings] ([Id], [PackageId], [UserId], [TravelDate], [Persons], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [CancelledAt], [IsCancelled]) VALUES (13, 4, 1, CAST(N'2025-09-17T00:00:00.0000000' AS DateTime2), 1, CAST(10000.00 AS Decimal(18, 2)), N'Confirmed', CAST(N'2025-09-10T06:47:31.2136796' AS DateTime2), NULL, 0, NULL, 0)
INSERT [dbo].[Bookings] ([Id], [PackageId], [UserId], [TravelDate], [Persons], [TotalAmount], [Status], [CreatedAt], [UpdatedAt], [IsDeleted], [CancelledAt], [IsCancelled]) VALUES (15, 4, 2, CAST(N'2025-09-17T00:00:00.0000000' AS DateTime2), 1, CAST(10000.00 AS Decimal(18, 2)), N'Cancelled', CAST(N'2025-09-10T06:57:33.5338680' AS DateTime2), NULL, 0, CAST(N'2025-09-10T06:57:54.3933082' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Inquiries] ON 

INSERT [dbo].[Inquiries] ([Id], [Name], [Email], [Message], [Resolved], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'test', N'test1@example.com', N'testing the inquiry database', 1, CAST(N'2025-09-10T09:03:39.7849004' AS DateTime2), NULL, 0)
INSERT [dbo].[Inquiries] ([Id], [Name], [Email], [Message], [Resolved], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'test', N'test1@example.com', N'test 2', 1, CAST(N'2025-09-10T09:06:21.1284181' AS DateTime2), NULL, 0)
INSERT [dbo].[Inquiries] ([Id], [Name], [Email], [Message], [Resolved], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'rakshith', N'mrakshith25@gmail.com', N'test 3', 1, CAST(N'2025-09-11T05:21:16.2287216' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Inquiries] OFF
GO
SET IDENTITY_INSERT [dbo].[Packages] ON 

INSERT [dbo].[Packages] ([Id], [Title], [Description], [Location], [Days], [Nights], [Price], [SeatsAvailable], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageFileName]) VALUES (4, N'Shimla', N'nice', N'Shimla', 2, 1, CAST(10000.00 AS Decimal(18, 2)), 4, CAST(N'2025-09-09T10:11:03.2474114' AS DateTime2), NULL, 0, N'shimla.jpg')
INSERT [dbo].[Packages] ([Id], [Title], [Description], [Location], [Days], [Nights], [Price], [SeatsAvailable], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageFileName]) VALUES (5, N'Goa Package', N'goa beaches', N'Goa', 3, 2, CAST(9000.00 AS Decimal(18, 2)), 3, CAST(N'2025-09-10T09:41:34.7357924' AS DateTime2), NULL, 0, N'goa.jpg')
INSERT [dbo].[Packages] ([Id], [Title], [Description], [Location], [Days], [Nights], [Price], [SeatsAvailable], [CreatedAt], [UpdatedAt], [IsDeleted], [ImageFileName]) VALUES (6, N'Taj Mahal', N'taj', N'Agra', 2, 1, CAST(3000.00 AS Decimal(18, 2)), 2, CAST(N'2025-09-10T09:48:47.1097710' AS DateTime2), NULL, 0, N'taj.jpg')
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [BookingId], [Amount], [Method], [TransactionRef], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (5, 11, CAST(10000.00 AS Decimal(18, 2)), N'Online', N'8e97c28b-8cae-4e9c-8d0a-1ddee296fd4a', N'Success', CAST(N'2025-09-10T06:03:06.1909526' AS DateTime2), NULL, 0)
INSERT [dbo].[Payments] ([Id], [BookingId], [Amount], [Method], [TransactionRef], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (7, 13, CAST(10000.00 AS Decimal(18, 2)), N'Online', N'dc191383-9b18-4264-8ee2-53ec6694e3e4', N'Success', CAST(N'2025-09-10T06:47:33.2526631' AS DateTime2), NULL, 0)
INSERT [dbo].[Payments] ([Id], [BookingId], [Amount], [Method], [TransactionRef], [Status], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (9, 15, CAST(10000.00 AS Decimal(18, 2)), N'Online', N'0d12313f-ab8c-4d3d-9aa2-f20e5bfc5b44', N'Success', CAST(N'2025-09-10T06:57:34.9267474' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Refunds] ON 

INSERT [dbo].[Refunds] ([Id], [BookingId], [RefundedAmount], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, 15, CAST(8500.00 AS Decimal(18, 2)), CAST(N'2025-09-10T06:57:54.3936945' AS DateTime2), NULL, 0)
INSERT [dbo].[Refunds] ([Id], [BookingId], [RefundedAmount], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, 20, CAST(8500.00 AS Decimal(18, 2)), CAST(N'2025-09-10T10:33:52.8868406' AS DateTime2), NULL, 0)
INSERT [dbo].[Refunds] ([Id], [BookingId], [RefundedAmount], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (4, 21, CAST(8500.00 AS Decimal(18, 2)), CAST(N'2025-09-11T04:35:06.3367690' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Refunds] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (1, N'Test User', N'test@example.com', N'hashedpassword', N'Customer', CAST(N'2025-09-09T09:04:17.1100000' AS DateTime2), CAST(N'2025-09-09T09:04:17.1100000' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (2, N'M Rakshith', N'mrakshith25@gmail.com', N'$2a$11$9dhhZRmp9nTwk99oeqByre43B/07VOS/DcZMTkhGlF6iyPuRAYsXe', N'Admin', CAST(N'2025-09-09T09:48:30.2895733' AS DateTime2), CAST(N'2025-09-09T09:48:30.2897399' AS DateTime2), 0)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [CreatedAt], [UpdatedAt], [IsDeleted]) VALUES (3, N'Admin User', N'admin@example.com', N'$2a$12$7H9cB6zP0G8oN4MZcU2P5u7dQ1kA6h1bVh5qK0G1d9LxZyF6uN4eC', N'Admin', CAST(N'2025-09-10T07:46:55.9100000' AS DateTime2), CAST(N'2025-09-10T07:46:55.9100000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Bookings_PackageId]    Script Date: 9/12/2025 5:11:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_PackageId] ON [dbo].[Bookings]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserId]    Script Date: 9/12/2025 5:11:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserId] ON [dbo].[Bookings]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_BookingId]    Script Date: 9/12/2025 5:11:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_BookingId] ON [dbo].[Payments]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Refunds_BookingId]    Script Date: 9/12/2025 5:11:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_Refunds_BookingId] ON [dbo].[Refunds]
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCancelled]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (N'') FOR [ImageFileName]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Packages_PackageId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings_BookingId]
GO
ALTER TABLE [dbo].[Refunds]  WITH CHECK ADD  CONSTRAINT [FK_Refunds_Bookings_BookingId] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Refunds] CHECK CONSTRAINT [FK_Refunds_Bookings_BookingId]
GO
USE [master]
GO
